<p style="text-align: center;">
    <h1 style="text-align: center;"><%=title%></h1>
    <h2 style="text-align: center;">Страница актуальна на <%=date%></h2>
</p>

<p style="text-align: right;">Версия: <%=version%></p>
